.light,
.light tr:nth-child(odd) > td,
.light tr:nth-child(odd) > th,
.light tr:nth-child(even) > td,
.light tr:nth-child(even) > th {
  color: #fff !important;
}

.tableBorderOverwrite table > :not(:first-child) {
  border-top: none !important;
}

.resizeImage {
  width: 100%;
  object-fit: cover;
}

.leaflet,
.onlyLeaflet {
  height: 300px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .leaflet {
    height: 100%;
    margin-bottom: 0;
  }
  .onlyLeaflet {
    height: 400px;
    margin-bottom: 0;
  }
}
