.noTaxonFoundContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.noTaxonFound {
  margin: 0;
}

.formDark {
  background-color: #212529 !important;
  border-color: #212529 !important;
  color: #fff !important;
}

.formDark:focus {
  box-shadow: 0 0 0 0.25rem rgb(66 70 73 / 50%) !important;
}

.lightText {
  color: white !important;
}
/**/
