.AppContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.darkMode {
  background-color: black;
}

.mainContent {
  margin: 0 auto;
  max-width: 1140px;
}
