.leaflet {
  height: 300px;
}
@media screen and (min-width: 768px) {
  .leaflet {
    height: 250px;
  }
}
@media screen and (min-width: 990px) {
  .leaflet {
    height: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .leaflet {
    height: 400px;
  }
}

.stripeColour > tbody > tr:nth-child(odd) > td,
.stripeColour > tbody > tr:nth-child(odd) > th {
  background-color: #0275d825;
}

.stripeColour tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #0275d850;
}
