.light,
.light tr:nth-child(odd) > td,
.light tr:nth-child(odd) > th,
.light tr:nth-child(even) > td,
.light tr:nth-child(even) > th {
  color: #fff !important;
}

.tableBorderOverwrite table > :not(:first-child) {
  border-top: none !important;
}

.leaflet {
  height: 300px;
}
@media screen and (min-width: 768px) {
  .leaflet {
    height: 250px;
  }
}
@media screen and (min-width: 990px) {
  .leaflet {
    height: 350px;
  }
}
@media screen and (min-width: 1200px) {
  .leaflet {
    height: 400px;
  }
}
